.player-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.u-player {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    
    background-color: #212121;
    text-align: left;
    color: #FFFFFF;
    width: 50%;
    padding: .5%;
    margin-bottom: .5%;

    outline-style: solid;
    outline-width: 0px;
    outline-color: #BDBDBD;
}

.ranking-box {
    background-color: #323232;
    text-align:center;
    font-size:2.5em;
    width: 85px;
    padding-top: 10px;
    padding-bottom: 10px;

    outline-style: solid;
    outline-width: 0px;
    outline-color: #616161;
}

/* Sponsor stuff */
.sponsor-box {
    padding-left:25px;
    position: relative;
    width: 60px;
    height: 60px;
}

.s-img { /* Also for stock icons */
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Stock icon */

.stock-box { /* Also used for flag */
    position: relative;
    width: 40px;
    height: 40px;
}

.stock-top {
    top:25px;
}

.stock-neg-margin {
    margin-left:-10px;
}

/* Player details */

.player-details {
    justify-content: center;
    justify-items: center;
    margin-left: 5px;
}

/* Name stuff */

.gamertag {
    font-size: 2.25em;
    font-weight: 900;
}

.real-name {
    font-weight: 400;
    color: #9E9E9E
}