body {
    height:auto;
    width:auto;
    font-family: ADAM;
    background-color: #212121;
}

.btn {
    position:absolute;
    transition: 1s ease;
    color:#FDFDFD;
    top:50%;
    font-size:7.8em;
}
/* .to-center {
    top:50%;
    font-size:7.8em;
}
.to-top {
    top:0%;
    font-size:4em;
} */