/* THIS IS FOR EVERY PAGE */


/* Variables */

@font-face {
    font-family: LibreFranklin;
    src: url(resources/LibreFranklin.ttf)
}

:root {
    --highlight-color: #81D4FA;
    --mouseover-color: #FAFAFA
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: .65; }
    to { opacity: 0; }
}

/* General */

body {
    height: auto;
    width: auto;
    min-width: 750px;
    font-family: LibreFranklin;
    font-weight: 600;
    background-color: #424242;
    text-align: center;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color:inherit;
}

/* Animations */

body > div {
    animation: fadeIn ease-out 1s;
}

/* Header Container */
#header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: center;
    align-content: normal;
    position: relative;
    z-index: 10; /* This is to not overlap with top buttons */
}

#header-container > div {
    padding: 5px;
}

/* Name */

#name {
    font-size: 7.8125em;
    color: #FAFAFA;
    text-align: center;
    cursor: default;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    top: 35%;
    transition: 1s ease;
    z-index: 0; /* This is to not overlap with top buttons */
}

.name-color {
    color: var(--highlight-color);
}

/* Underline stuff */

.underline {
    background-color: #757575;
    display: block;
	height: 6px;
	margin: 2px auto;
	width: 0;
	transition: width .2s linear;
}

*:hover>.underline, .active>.underline {
	width: 100%;
}

/* Switch */
#header-container div:last-child {
    margin-left:auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 66px;
    height: 40px;
}

.switch > input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider { /* Slider, from: https://www.w3schools.com/howto/howto_css_switch.asp */
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #BDBDBD;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius:25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--highlight-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--highlight-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* End of switch section */